@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.container {
    display: flex;
}

.dropdown{
  position : relative;
  display : inline-block;
}

.div_grow {
    flex-grow: 1;
}

.dropbtn{
  display : block;
  border : 2px solid rgb(94, 94, 94);
  border-radius : 16px;
  background-color: #fcfcfc;
  font-weight: 400;
  color : rgb(124, 124, 124);
  padding : 12px;
  width :110px;
  height: 50px;
  text-align: center;
  cursor : pointer;
  font-size : 8px;
  z-index :1;
  position : relative;
}
.dropdown-content{
  display : none;
  font-weight: 400;
  background-color: #fcfcfc;
  min-width : 110px;
  border-radius: 8px;
  height : 40px;
  overflow : scroll;
  box-shadow: 0px 0px 10px 3px rgba(190, 190, 190, 0.6);
}
.dropdown-content::-webkit-scrollbar{
  width : 5px;
  height : 10px;
}
.dropdown-content::-webkit-scrollbar-thumb{
  border-radius : 2px;
  background-color :rgb(194, 194, 194)
}

.dropdown-content div{
  display : block;
  text-decoration : none;
  color : rgb(37, 37, 37);
  font-size: 12px;
  padding : 12px 20px;
}
.dropdown-content div:hover{
  background-color: rgb(226, 226, 226);
}

.dropdown-content.show{
  display : block;
}

.details {

}