@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.container {
    display: flex;
    align-items: center;
    padding: 0 2.25rem;
}

.container > .logo {
  padding: 0.5rem;
}

.container > .logo > img {
    height: 6rem;
    width: auto;
}

.dropdown {
  position : relative;
  display : inline-block;
}

.dropbtn {
  display: flex;
  border : 2px solid rgb(94, 94, 94);
  border-radius : 3rem;
  text-align: center;
  cursor : pointer;
  align-items: center;
  padding: 0.5rem;
}

.dropbtn:hover {
  background-color: lightgray;
}

.dropbtn > img {
  height: 4rem;
  width: auto;
}

.dropbtn > div {
  margin: 0 1rem;
}

.dropbtn > div > p {
  margin: 0.1rem;
  font-weight: 900;
}

.dropdown_content {
  right: 2.5rem;
  top: 7rem;
  position: fixed;
  display: none;
  font-weight: 400;
  width: 12rem;
  border-radius: 0.5rem;
  background-color: white;
  box-shadow: 0px 0px 10px 3px rgba(190, 190, 190, 0.6);
}

.dropdown_content.show {
  display: block;
}

.dropdown_content_item {
  padding: 1rem 1.5rem;
}

.dropdown_content_logout {
  display: flex;
  justify-content: end;
  background-color: rgb(227, 227, 227);
}

.dropdown_content_logout .logout_btn {
  border-radius: 0.5rem;
  margin: 1rem;
  width: fit-content;
  background-color: white;
  padding: 0.5rem;
}

.dropdown_content p {
  margin: 0;
  font-size: 1.5rem;
}