.main_board {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0;
}

.main_board_left {
  margin: 0;
  width: 47.5%;
  display: flex;
  flex-direction: column;
}

.main_board_right {
  margin: 0;
  width: 47.5%;
}