.notice_board {
  border: 0.1rem solid #aaaaaa;
  border-radius: 0.75rem;
  padding: 0.75rem;
}

.notice_select {
  color: #009bcb;
}

.notice_type_title > div {
  display: inline-block;
  justify-content: center;
  margin: 0.75rem;
}

.notice_type_title > div > p {
  width: fit-content;
  display: flex;
  font-size: 1.5rem;
  font-style: bold;
  font-weight: 900;
  margin: 0.125rem;
  margin-bottom: 0.3rem;
}

.notice_select > .notice_bot_bar {
  width: 100%;
  display: block;
  height: 0.35rem;
  background-color: #009bcb;
  border-radius: 0.1rem;
}

.notice_contents {
  margin: 1rem;
  font-size: 1.4rem;
}

.notice_content {
  margin: 0.75rem 0;
  display: flex;
  width: 100%;
  align-items: center;
}

.notice_content_dot {
  margin: 0;
  margin-right: 0.5rem;
}

.notice_content_title {
  margin: 0;
  flex-grow: 1;
}

.notice_content_date {
  color:#aaaaaa;
  margin: 0;
  height: fit-content;
  font-size: 1.15rem;
}

.notice_content_line {
  background-color: #cbcbcb;
  height: 0.1rem;
}

.notice_page {
  display: flex;
  align-items: center;
}

.notice_page  p {
  font-size: 1.5rem;
  font-weight: 900;
}

.notice_page_number {
  margin: 0 2rem;
  display: flex;
}

.notice_page_number p {
  margin: 0 1rem;
}

.notice_page_number .notice_page_select {
  color: #00c3ff;
}