@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html,
body {
  width: 100%;
  background-color: #f3f4f7;
  padding: 0;
  margin: 0;
  font-family: Pretendard-Regular;
  font-size: 14px;
  color: #5c5a59;
}

header {
  width: 100%;
  position: fixed;
  background-color: white;
  box-shadow: 0px 0px 10px 3px rgba(190, 190, 190, 0.6);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  margin: 0;
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.125rem;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
