<!DOCTYPE html>

<html>

<head>
  <title>Hello</title>
  <link rel="stylesheet" type="text/css" href="styles/global.css" />
  <link rel="stylesheet" type="text/css" href="styles/mainboard.css" />
  <link rel="stylesheet" type="text/css" href="styles/notice.css" />
  <link rel="stylesheet" type="text/css" href="styles/index.css" />
  <link rel="stylesheet" type="text/css" href="styles/header.css" />
</head>

<body>
  
  <header id="header">
    <nav class="navbar navbar-light navbar-static-top navbar-expand-md" role="navigation">
      <div class="container">
        <div class="navbar-header">
          
          <div class="float-left xn-main-catalog-header-logo-wrap">

            <a href="http://localhost:8080/">
              <div class="xn-main-catalog-header-logo">
                <img class="xn-main-catalog-header-logo-image"
                  src="https://class.ssu.ac.kr/customs/main/header_logo.png?v=123213">
              </div>
            </a>
          </div>
          
        </div>

        <div class="div_grow"></div>
        
        <div class="dropdown">
          <button class="dropbtn">
            
            <span class="dropbtn_content">20182641<br/> 이승호</span>
            <span class="dropbtn_click" style="font-family: Material Icons; font-size : 16px; color : #3b3b3b; float:right;"
              onclick="dropdown()">arrow_drop_down</span>
          </button>
          <div class="dropdown-content">
            
            
              <form action="http://localhost:8080/logout" method="post">
                <!--<input type="hidden" name="_token" value="zKf5ANxJyWv00adVt0JKvnDTYzHtZSlSywFn0QEx">--->
                
                <button type="submit" class="details">로그아웃</button>
              </form>
            
          </div>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse mobile show in navbar-hidden" id="bs-example-navbar-collapse-1">
          <ul class="navbar-nav mr-auto">
            

           
            
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <!--미완료 수업-->
  <div class="main_board">
    <div class="main_board_left">
      <div class="notice_board">
        <div class="notice_type_title">
          <div id="notice_all" class="notice_type notice_select" onclick="selectNotice(0)">
            <p>
              전체
            </p>
            <div class="notice_bot_bar"></div>
          </div>
          <div id="notice_major" class="notice_type" onclick="selectNotice(1)">
            <p>
              학과
            </p>
            <div class="notice_bot_bar"></div>
          </div>
          <div id="notice_fun" class="notice_type" onclick="selectNotice(2)">
            <p>
              펀시스템
            </p>
            <div class="notice_bot_bar"></div>
          </div>
          <div id="notice_etc" class="notice_type" onclick="selectNotice(3)">
            <p>
              기타
            </p>
            <div class="notice_bot_bar"></div>
          </div>
        </div>
        <div class="notice_contents">
          <div class="notice_content">
            <p class="notice_content_dot">·</p>
            <p class="notice_content_title">Lorem Ipsum test hello</p>
            <div>

            </div>
            <p class="notice_content_date">2022.10.04</p>
          </div>
          <hr />
          <div class="notice_content">
            <p class="notice_content_dot">·</p>
            <p class="notice_content_title">Lorem Ipsum test hello</p>
            <div>

            </div>
            <p class="notice_content_date">2022.10.04</p>
          </div>
          <hr />
          <div class="notice_content">
            <p class="notice_content_dot">·</p>
            <p class="notice_content_title">Lorem Ipsum test hello</p>
            <div>

            </div>
            <p class="notice_content_date">2022.10.04</p>
          </div>
          <hr />
          <div class="notice_content">
            <p class="notice_content_dot">·</p>
            <p class="notice_content_title">Lorem Ipsum test hello</p>
            <div>

            </div>
            <p class="notice_content_date">2022.10.04</p>
          </div>
          <hr />
          <div class="notice_content">
            <p class="notice_content_dot">·</p>
            <p class="notice_content_title">Lorem Ipsum test hello</p>
            <div>

            </div>
            <p class="notice_content_date">2022.10.04</p>
          </div>
        </div>
        <div class="notice_page">
          <div class="div_grow"></div>
          <p><</p>
            <div class="notice_page_number">
              <p class="notice_page_select" onclick="selectNoticePage(0)">1</p>
              <p onclick="selectNoticePage(1)">2</p>
              <p onclick="selectNoticePage(2)">3</p>
              <p onclick="selectNoticePage(3)">4</p>
              <p onclick="selectNoticePage(4)">5</p>
            </div>
          <p>></p>
          <div class="div_grow"></div>
        </div>
      </div>
    </div>
    <div class="main_board_right">
      <div class="lecture_board">
        <div class="lecture_week">
          <h1><</h1>
          <div>
            <h1>4주차</h1>
            <h5>10/15 ~ 10/22</h5>
          </div>
          <h1>></h1>
        </div>
        <div class="lecture_items">
          <div class="lecture_item">
            <div class="lecture_top_bar">
              <h2>[과목명]</h2>
              <div class="div_grow"></div>
              <img src="src/home-icon-silhouette.png"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    function selectNotice(idx) {

      let notice_type_list = document.getElementsByClassName("notice_type");

      for (let i = 0; i < notice_type_list.length; i++) {
        if (notice_type_list[i].classList.contains('notice_select')) {
          notice_type_list[i].classList.remove('notice_select');
        }
        if (i == idx) {
          notice_type_list[i].classList.add('notice_select');
        }
      }
    }

    function selectNoticePage(idx) {

      let notice_page_list = document.getElementsByClassName("notice_page_number")[0].querySelectorAll('p');

      for (let i = 0; i < notice_page_list.length; i++) {
        if (notice_page_list[i].classList.contains('notice_page_select')) {
          notice_page_list[i].classList.remove('notice_page_select');
        }
        if (i == idx) {
          notice_page_list[i].classList.add('notice_page_select');
          
        }
      }
    }
  </script>
    
  <script>
    window.onload=()=>{
      document.querySelector('.dropbtn_click').onclick = ()=>{
        dropdown();
      }
      document.getElementsByClassName('details').onclick = ()=>{
        showMenu(value);
      };
      dropdown = () => {
        var v = document.querySelector('.dropdown-content');
        var dropbtn = document.querySelector('.dropbtn')
        v.classList.toggle('show');
        dropbtn.style.borderColor = 'rgb(94, 94, 94)';
      }

      showMenu=(value)=>{
        
        var dropbtn_content = document.querySelector('.dropbtn_content');
        var dropbtn_click = document.querySelector('.dropbtn_click');
        var dropbtn = document.querySelector('.dropbtn');

       
        dropbtn_content.innerText = value;
        dropbtn_content.style.color = '#252525';
        dropbtn.style.borderColor = '#3992a8';
      }
    }
    
    window.onclick= (e)=>{
      if(!e.target.matches('.dropbtn_click')){
        var dropdowns = document.getElementsByClassName("dropdown-content");

        
        var dropbtn_content = document.querySelector('.dropbtn_content');
        var dropbtn_click = document.querySelector('.dropbtn_click');
        var dropbtn = document.querySelector('.dropbtn');

        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }
  </script>
</body>

</html>