<!DOCTYPE html>

<html>

<head>
  <title>Hello</title>
  <link rel="stylesheet" type="text/css" href="styles/global.css" />
  <link rel="stylesheet" type="text/css" href="styles/mainboard.css" />
  <link rel="stylesheet" type="text/css" href="styles/subject.css" />
  <link rel="stylesheet" type="text/css" href="styles/notice.css" />
  <link rel="stylesheet" type="text/css" href="styles/lecture.css" />
  <link rel="stylesheet" type="text/css" href="styles/index.css" />
  <link rel="stylesheet" type="text/css" href="styles/header.css" />
</head>

<body>
  <!--상단 헤더-->
  <header id="header">
    <nav role="navigation">
      <div class="container">

        <a class="logo" href="/">
          <img src="https://class.ssu.ac.kr/customs/main/header_logo.png?v=123213">
        </a>

        <div class="div_grow"></div>

        <div class="dropdown">
          <div class="dropbtn dropbtn_click">
            <img src="src/user.png" class="dropbtn_click"/>
            <div class="dropbtn_click">
              <p class="dropbtn_click">컴퓨터학부</p>
              <p class="dropbtn_click">20182618</p>
              <p class="dropbtn_click">최규현</p>
            </div>
          </div>
          <div class="dropdown_content">
            <div class="dropdown_content_list">
              <p class="dropdown_content_item">
                내 정보
              </p>
            </div>
            <div class="dropdown_content_logout">
              <p class="logout_btn">
                로그아웃
              </p>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <!--컨텐츠-->
  <div class="main_board">
    <div class="main_board_left">
      <!-- 미완료 수업 -->
      <div class="subject_board">
        <h2>미완료 수업</h2>
        <div class="subject_list">
          <hr/>
          <div class="subject_item">
            <h5>Hello World</h5>
            <div class="div_grow"></div>
            <h5 class="subject_fold">∨</h5>
          </div>
          <hr/>
          <div class="subject_item">
            <h5>Hello World</h5>
            <div class="div_grow"></div>
            <h5 class="subject_fold">∨</h5>
          </div>
          <hr/>
          <div class="subject_item">
            <h5>Hello World</h5>
            <div class="div_grow"></div>
            <h5 class="subject_fold">∨</h5>
          </div>
          <hr/>
          <div class="subject_item">
            <h5>Hello World</h5>
            <div class="div_grow"></div>
            <h5 class="subject_fold">∨</h5>
          </div>
          <hr/>
          <div class="subject_item">
            <h5>Hello World</h5>
            <div class="div_grow"></div>
            <h5 class="subject_fold">∨</h5>
          </div>
          <hr/>

          <h3>더보기 +</h3>
        </div>
      </div>
      <!--공지사항-->
      <div class="notice_board">
        <!-- <iframe src="/notice" style="width: 100%; height: 26rem;" frameborder="0"></iframe> -->
        <div class="notice_type_title">
          <div id="notice_all" class="notice_type notice_select" onclick="selectNotice(0)">
            <h3>
              전체
            </h3>
            <div class="notice_bot_bar"></div>
          </div>
          <div id="notice_major" class="notice_type" onclick="selectNotice(1)">
            <h3>
              학과
            </h3>
            <div class="notice_bot_bar"></div>
          </div>
          <div id="notice_fun" class="notice_type" onclick="selectNotice(2)">
            <h3>
              펀시스템
            </h3>
            <div class="notice_bot_bar"></div>
          </div>
          <div id="notice_etc" class="notice_type" onclick="selectNotice(3)">
            <h3>
              기타
            </h3>
            <div class="notice_bot_bar"></div>
          </div>
        </div>
        <div class="notice_contents">
          <div class="notice_content">
            <p class="notice_content_dot">·</p>
            <p class="notice_content_title">Lorem Ipsum test hello</p>
            <div>

            </div>
            <p class="notice_content_date">2022.10.04</p>
          </div>
          <hr />
          <div class="notice_content">
            <p class="notice_content_dot">·</p>
            <p class="notice_content_title">Lorem Ipsum test hello</p>
            <div>

            </div>
            <p class="notice_content_date">2022.10.04</p>
          </div>
          <hr />
          <div class="notice_content">
            <p class="notice_content_dot">·</p>
            <p class="notice_content_title">Lorem Ipsum test hello</p>
            <div>

            </div>
            <p class="notice_content_date">2022.10.04</p>
          </div>
          <hr />
          <div class="notice_content">
            <p class="notice_content_dot">·</p>
            <p class="notice_content_title">Lorem Ipsum test hello</p>
            <div>

            </div>
            <p class="notice_content_date">2022.10.04</p>
          </div>
          <hr />
          <div class="notice_content">
            <p class="notice_content_dot">·</p>
            <p class="notice_content_title">Lorem Ipsum test hello</p>
            <div>

            </div>
            <p class="notice_content_date">2022.10.04</p>
          </div>
        </div>
        <div class="notice_page">
          <div class="div_grow"></div>
          <h4><</h4>
            <div class="notice_page_number">
              <h4 class="notice_page_select" onclick="selectNoticePage(0)">1</h4>
              <h4 onclick="selectNoticePage(1)">2</h4>
              <h4 onclick="selectNoticePage(2)">3</h4>
              <h4 onclick="selectNoticePage(3)">4</h4>
              <h4 onclick="selectNoticePage(4)">5</h4>
            </div>
          <h4>></h4>
          <div class="div_grow"></div>
        </div>
      </div>
    </div>
    <div class="main_board_right">
      <!--주차별 강의 목록-->
      <div class="lecture_board">
        <div class="lecture_week">
          <h1><</h1>
          <div>
            <h1>4주차</h1>
            <h5>10/15 ~ 10/22</h5>
          </div>
          <h1>></h1>
        </div>
        <div class="lecture_items">
          <div class="lecture_item">
            <div class="lecture_top_bar">
              <h2>[과목명]</h2>
              <div class="div_grow"></div>
              <img src="src/home-icon-silhouette.png"/>
            </div>
            <div class="lecture_notice">
              <img src="src/megaphone.png"/>
              <p>
                <MARQUEE>안녕하세요 LMSSU입니다. 즐거운 학교생활 되세요~</MARQUEE>
              </p>
            </div>
            <div class="lecture_content">
              <div class="lecture_subjects">
                <div class="lecture_subject">
                  <img src="src/play-button.png"/>
                  <h3>4주차 강의 영상</h3>
                </div>
                <div class="lecture_subject">
                  <img src="src/lecture.png"/>
                  <h3>4주차 2차시 00:00</h3>
                </div>
                <div class="lecture_subject">
                  <img src="src/pdf.png"/>
                  <h3>4주차 강의 자료</h3>
                </div>
              </div>
              <div class="lecture_todolist">
                <div class="lecture_todolist_content">
                  <input class="lecture_todolist_check" type="checkbox" name="check" id="GFG" value="1" checked>
                  <div class="lecture_todolist_title">
                    <h3>수업시간 필기 정리하기</h3>
                    <hr/>
                  </div>
                </div>
                <div class="lecture_todolist_content">
                  <input class="lecture_todolist_check" type="checkbox" name="check" id="GFG" value="1" checked>
                  <div class="lecture_todolist_title">
                    <h3>수업시간 필기 정리하기</h3>
                    <hr/>
                  </div>
                </div>
                <div class="lecture_todolist_content">
                  <input class="lecture_todolist_check" type="checkbox" name="check" id="GFG" value="1" checked>
                  <div class="lecture_todolist_title">
                    <h3>수업시간 필기 정리하기</h3>
                    <hr/>
                  </div>
                </div>
                <div class="lecture_todolist_content">
                  <input class="lecture_todolist_check" type="checkbox" name="check" id="GFG" value="1" checked>
                  <div class="lecture_todolist_title">
                    <h3>수업시간 필기 정리하기</h3>
                    <hr/>
                  </div>
                </div>
                <div class="lecture_todolist_content">
                  <input class="lecture_todolist_check" type="checkbox" name="check" id="GFG" value="1" checked>
                  <div class="lecture_todolist_title">
                    <h3>수업시간 필기 정리하기</h3>
                    <hr/>
                  </div>
                </div>
                <div class="lecture_todolist_content">
                  <input class="lecture_todolist_check" type="checkbox" name="check" id="GFG" value="1" checked>
                  <div class="lecture_todolist_title">
                    <h3>수업시간 필기 정리하기</h3>
                    <hr/>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="lecture_item">
            <div class="lecture_top_bar">
              <h2>[과목명]</h2>
              <div class="div_grow"></div>
              <img src="src/home-icon-silhouette.png"/>
            </div>
            <div class="lecture_notice">
              <img src="src/megaphone.png"/>
              <p>
                <MARQUEE>안녕하세요 LMSSU입니다. 즐거운 학교생활 되세요~</MARQUEE>
              </p>
            </div>
            <div class="lecture_content">
              <div class="lecture_subjects">
                <div class="lecture_subject">
                  <img src="src/play-button.png"/>
                  <h3>4주차 강의 영상</h3>
                </div>
                <div class="lecture_subject">
                  <img src="src/lecture.png"/>
                  <h3>4주차 2차시 00:00</h3>
                </div>
                <div class="lecture_subject">
                  <img src="src/pdf.png"/>
                  <h3>4주차 강의 자료</h3>
                </div>
              </div>
              <div class="lecture_todolist">
                <div class="lecture_todolist_content">
                  <input class="lecture_todolist_check" type="checkbox" name="check" id="GFG" value="1" checked>
                  <div class="lecture_todolist_title">
                    <h3>수업시간 필기 정리하기</h3>
                    <hr/>
                  </div>
                </div>
                <div class="lecture_todolist_content">
                  <input class="lecture_todolist_check" type="checkbox" name="check" id="GFG" value="1" checked>
                  <div class="lecture_todolist_title">
                    <h3>수업시간 필기 정리하기</h3>
                    <hr/>
                  </div>
                </div>
                <div class="lecture_todolist_content">
                  <input class="lecture_todolist_check" type="checkbox" name="check" id="GFG" value="1" checked>
                  <div class="lecture_todolist_title">
                    <h3>수업시간 필기 정리하기</h3>
                    <hr/>
                  </div>
                </div>
                <div class="lecture_todolist_content">
                  <input class="lecture_todolist_check" type="checkbox" name="check" id="GFG" value="1" checked>
                  <div class="lecture_todolist_title">
                    <h3>수업시간 필기 정리하기</h3>
                    <hr/>
                  </div>
                </div>
                <div class="lecture_todolist_content">
                  <input class="lecture_todolist_check" type="checkbox" name="check" id="GFG" value="1" checked>
                  <div class="lecture_todolist_title">
                    <h3>수업시간 필기 정리하기</h3>
                    <hr/>
                  </div>
                </div>
                <div class="lecture_todolist_content">
                  <input class="lecture_todolist_check" type="checkbox" name="check" id="GFG" value="1" checked>
                  <div class="lecture_todolist_title">
                    <h3>수업시간 필기 정리하기</h3>
                    <hr/>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="lecture_item">
            <div class="lecture_top_bar">
              <h2>[과목명]</h2>
              <div class="div_grow"></div>
              <img src="src/home-icon-silhouette.png"/>
            </div>
            <div class="lecture_notice">
              <img src="src/megaphone.png"/>
              <p>
                <MARQUEE>안녕하세요 LMSSU입니다. 즐거운 학교생활 되세요~</MARQUEE>
              </p>
            </div>
            <div class="lecture_content">
              <div class="lecture_subjects">
                <div class="lecture_subject">
                  <img src="src/play-button.png"/>
                  <h3>4주차 강의 영상</h3>
                </div>
                <div class="lecture_subject">
                  <img src="src/lecture.png"/>
                  <h3>4주차 2차시 00:00</h3>
                </div>
                <div class="lecture_subject">
                  <img src="src/pdf.png"/>
                  <h3>4주차 강의 자료</h3>
                </div>
              </div>
              <div class="lecture_todolist">
                <div class="lecture_todolist_content">
                  <input class="lecture_todolist_check" type="checkbox" name="check" id="GFG" value="1" checked>
                  <div class="lecture_todolist_title">
                    <h3>수업시간 필기 정리하기</h3>
                    <hr/>
                  </div>
                </div>
                <div class="lecture_todolist_content">
                  <input class="lecture_todolist_check" type="checkbox" name="check" id="GFG" value="1" checked>
                  <div class="lecture_todolist_title">
                    <h3>수업시간 필기 정리하기</h3>
                    <hr/>
                  </div>
                </div>
                <div class="lecture_todolist_content">
                  <input class="lecture_todolist_check" type="checkbox" name="check" id="GFG" value="1" checked>
                  <div class="lecture_todolist_title">
                    <h3>수업시간 필기 정리하기</h3>
                    <hr/>
                  </div>
                </div>
                <div class="lecture_todolist_content">
                  <input class="lecture_todolist_check" type="checkbox" name="check" id="GFG" value="1" checked>
                  <div class="lecture_todolist_title">
                    <h3>수업시간 필기 정리하기</h3>
                    <hr/>
                  </div>
                </div>
                <div class="lecture_todolist_content">
                  <input class="lecture_todolist_check" type="checkbox" name="check" id="GFG" value="1" checked>
                  <div class="lecture_todolist_title">
                    <h3>수업시간 필기 정리하기</h3>
                    <hr/>
                  </div>
                </div>
                <div class="lecture_todolist_content">
                  <input class="lecture_todolist_check" type="checkbox" name="check" id="GFG" value="1" checked>
                  <div class="lecture_todolist_title">
                    <h3>수업시간 필기 정리하기</h3>
                    <hr/>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--header script-->
  <script>
    window.onload = () => {
      document.querySelector('.dropbtn_click').onclick = ()=>{
        dropdown();
      }

      dropdown = () => {
        let v = document.querySelector('.dropdown_content');
        let dropbtn = document.querySelector('.dropbtn')
        v.classList.toggle('show');
        dropbtn.style.borderColor = 'rgb(94, 94, 94)';
      }
    }
    
    window.onclick = (e)=>{
      if(!e.target.matches('.dropbtn_click')) {
        var dropdowns = document.querySelector(".dropdown_content");

        if (dropdowns.classList.contains('show')) {
          dropdowns.classList.remove('show');
        }
      }
    }
  </script>
  
  <!-- notice board script -->
  <script>
    function selectNotice(idx) {

      let notice_type_list = document.getElementsByClassName("notice_type");

      for (let i = 0; i < notice_type_list.length; i++) {
        if (notice_type_list[i].classList.contains('notice_select')) {
          notice_type_list[i].classList.remove('notice_select');
        }
        if (i == idx) {
          notice_type_list[i].classList.add('notice_select');
        }
      }
    }

    function selectNoticePage(idx) {

      let notice_page_list = document.getElementsByClassName("notice_page_number")[0].querySelectorAll('p');

      for (let i = 0; i < notice_page_list.length; i++) {
        if (notice_page_list[i].classList.contains('notice_page_select')) {
          notice_page_list[i].classList.remove('notice_page_select');
        }
        if (i == idx) {
          notice_page_list[i].classList.add('notice_page_select');
          
        }
      }
    }
  </script>
</body>

</html>