<!DOCTYPE html>
<html>
  <head>
    <title>Hello</title>
  </head>
  <body>
    <div>
      <%= messageList.length %>
      <input type="button", value="createDiv" onclick="createDiv()"></input>
      <input type="button", value="test" onclick="test()"></input>
    </div>
    <script>

      function test() {
        const newDiv = document.createElement('div');
        const text = document.createTextNode('hello');
        newDiv.appendChild(text);
        document.body.append(newDiv);
        parent.test("asd");
      }

      let load = false;
      
      function testCalc1() {
        let result = 0;
        for(let i = 0; i < 10000000000; i++) {
          result++;
        }
        load = true;
        console.log(result);
        return result;
      }
      function testCalc2() {
        let result = 0;
        for(let i = 0; i < 2000000000; i++) {
          result++;
        }
        load = true;
        console.log(result);
        return result;
      }

      function createDiv() {
        testCalc1();
        console.log('hello');
      }
    </script>
  </body>
</html>